th {
    font-family: 'Radio Canada', sans-serif;
    background-color: #92b3c3;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    border-radius: 10px;
}

img {
    max-width: 800px;

    margin: 15px;
}

td {
    font-family: 'Radio Canada', sans-serif;
    background-color: white
}

p {
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
    text-shadow: 20px;
    margin: 0px auto;
    display: flex;
    max-width: 800px;
    text-align: justify;
    text
}

table,
tr,
td {
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    font-family: 'Radio Canada', sans-serif;
}

hr {
    border-top: 1px dashed black;
}

a {
    font-family: 'Radio Canada', sans-serif;
    font-size: 13px;
}

#Imagem {}

ul {
    font-family: 'Radio Canada', sans-serif;
    margin: 0px auto;
    max-width: 840px;
    text-align: justify;
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Radio Canada', sans-serif;
    margin: 0px auto;
    display: flex;
    text-align: justify;
    max-width: 800px;
}

#background1 {
    background-image: url(pexels-photo-5711686.psd);
}

.texto {
    margin: 0px auto;
    display: flex;
    max-width: 800px;
    text-align: justify;
    text
}

.h2 {
    margin: 0px auto;
    display: flex;
    text-align: justify;
}

.menu-h {

    width: 1005px;

    margin: 0px auto;

    display: flex;

}



.menu-h li {

    max-width: 800px;

    margin: 15px;

    display: inline;

}



.menu-h li a {

    background-color: #fff;

    width: 20px;

    padding: 20px;

    border-radius: 20px;

    color: #004a8c;

    text-decoration: none;

    font-size: 14px;

    transition: all .5s;

}



.menu-h li a:hover {

    color: #fff;

    background-color: #F7941E;
}